body {
  background: #fafafa;
}

.header {
  text-align: center;
  padding: 100px 0;
  background-color: #f4f5f6;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 8rem;
  margin: 0;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

.columns {
}

.card--example {
  margin-bottom: 40px;
}

small {
  color: #999;
  font-size: 1.2rem;
  letter-spacing: normal;
}

.mtl {
  margin-top: 40px;
}
