// Components - Blockquote
blockquote {
  border-left: .3rem solid #d1d1d1;
  margin-bottom: 2.5rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;

  > p {
    margin: 0;
  }
}

.blockquote--primary {
  border-left-color: $color-primary;
}

.backquote--bg {
  background-color: $color-highlight;
}

.blockquote--inverted {
  background-color: $color-primary;
  border-left-color: $color-light;
  color: $color-light;

  > p {
    color: $color-light;
  }

  code {
    color: $color-primary;
  }
}
