.button {
  background-color: transparent;
  border: .1rem solid color(primary);
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  height: 3.8rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.button,
button {
  margin-bottom: 1rem;
}

.button--link {
  border-color: transparent;
}

// Colored
@each $name, $color in $button-colors {
  .button--#{$name} {
    background-color: color($name);
    border-color: color($name);
    color: color(light);
  }

  .button--outline.button--#{$name} {
    background-color: transparent;
    border-color: color($name);
    color: color($name);
  }
}
