@mixin card-shadow() {
  box-shadow: 0 .5rem 1.7rem rgba(0, 0, 0, .08);
}

// Components - Card
.card {
  border: .1rem solid color(border);
  display: block;
  margin-bottom: 1rem;
  padding: $sz-md;

  > p:last-child {
    margin-bottom: 0;
  }
}

.card__header {
  background-color: color(highlight);
  border-bottom: 1px solid color(border);
  margin: -$sz-md;
  padding: $sz-sm $sz-md;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.card__content {
  padding-top: $sz-md;

  > p:last-child {
    margin-bottom: 0;
  }
}

.card__footer {
  background-color: color(highlight);
  border-top: 1px solid color(border);
  margin: -$sz-md;
  padding: $sz-md;
}

.card__mediaContent {
  padding: $sz-md $sz-lg $sz-lg $sz-lg;
}

.card__mediaObject {
  margin: -.1rem;
  padding: 0;

  img {
    max-width: 100%;
  }
}

.card__media {
  border-color: transparent;
  padding: 0;

  .card__mediaContent:first-child {
    padding: $sz-lg;
  }

  .card__mediaObject:last-child {
    margin-bottom: -1rem;
  }
}

.card__text {
  border-color: transparent;
  padding: $sz-lg;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3rem;
    font-weight: $font-weight-default;
    margin-bottom: 3rem;
  }
}

.card__text--primary,
.card__text--inverted {
  box-shadow: none;
}

// Card Colored
@each $name, $color in $card-colors {
  .card--#{$name} {
    .card__header {
      background-color: color($name);
      border-color: color($name);
      margin: -($sz-md + .1rem);
      padding: ($sz-md + .1rem);

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: color(light);
      }
    }
  }

  .card__text--#{$name} {
    background-color: color($name);
    border-color: color($name);
    color: color(light);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: color(light);
    }
  }
}

.card--shadow {
  @include card-shadow;
}
