// Colors
$colors: (
  "primary": #222,
  "bad": #dc3545,
  "ok": #28a745,
  "warn": #ffc107,
  "text": #606c76,
  "border": #d1d1d1,
  "highlight": #f4f5f6,
  "light": #fff,
  "link": #383838,
  "inverted": #000,
);

$button-colors: (
  "primary": map-get($colors, "primary"),
  "bad": map-get($colors, "bad"),
  "ok": map-get($colors, "ok"),
  "warn": map-get($colors, "warn"),
  "inverted": map-get($colors, "inverted"),
);

$card-colors: $button-colors;
$alert-colors: $button-colors;

@function color($key) {
  @return map-get($colors, $key);
}

// Sizes
$sz-sm: 1.875rem;
$sz-md: 2.5rem;
$sz-lg: 3.75rem;

// Reset
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$font-weight-default: 300;
$font-weight-bold: 700;
